<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
     <div class="container">

       <div class="section-title">
         <h2 data-aos="fade-in">{{title}}</h2>
         <p data-aos="fade-in">{{description}}</p>
       </div>

       <div class="row">
         <ng-container *ngFor="let item of services">
          <div class="col-md-6 d-flex" [attr.data-aos]="item.data_aos">
            <div class="card">
              <div class="card-img">
                <img src="{{item.url}}" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">{{item.title}}</a></h5>
                <p class="card-text">{{item.desc}}</p>
                <div class="read-more"><a href="#"><i class="{{item.icon}}"></i> {{item.more}}</a></div>
              </div>
            </div>
          </div>
         </ng-container>
         <!-- <div class="col-md-6 d-flex" data-aos="fade-left">
           <div class="card">
             <div class="card-img">
               <img src="assets/img/services-2.jpg" alt="...">
             </div>
             <div class="card-body">
               <h5 class="card-title"><a href="">Aperiores voluptates</a></h5>
               <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</p>
               <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>
             </div>
           </div>

         </div>
         <div class="col-md-6 d-flex" data-aos="fade-right">
           <div class="card">
             <div class="card-img">
               <img src="assets/img/services-3.jpg" alt="...">
             </div>
             <div class="card-body">
               <h5 class="card-title"><a href="">Veritatis natus nisi</a></h5>
               <p class="card-text">Nemo enim ipsam voluptatem quia voluptas sit aut odit aut fugit, sed quia magni dolores eos qui ratione voluptatem sequi nesciunt Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet</p>
               <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>
             </div>
           </div>
         </div>
         <div class="col-md-6 d-flex" data-aos="fade-left">
           <div class="card">
             <div class="card-img">
               <img src="assets/img/services-4.jpg" alt="...">
             </div>
             <div class="card-body">
               <h5 class="card-title"><a href="">Aliquam veritatis</a></h5>
               <p class="card-text">Nostrum eum sed et autem dolorum perspiciatis. Magni porro quisquam laudantium voluptatem. In molestiae earum ab sit esse voluptatem. Eos ipsam cumque ipsum officiis qui nihil aut incidunt aut</p>
               <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>
             </div>
           </div>
         </div> -->
       </div>

     </div>
   </section><!-- End Services Section -->
